.longe-bordas{
    background-color: #FFA6A9;
  }
  
  .afastado{
    background-color: #77C0ED;
  }
  .alto{
    background-color: #C3E887;
  }
  
  .largo{
  background-color: #FFE396;
  }
  
  .bordado{
    background-color: #AF9BCC;
  }
  
  .sumido{
   
  }