*{
  padding: 0;
  margin: 0;
}
header{
  
}

section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 840px;
  padding: 40px;
}

aside{
  float:right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 20px;
  width: 340px;
}

article{
  margin: 10px 0;
}